.slider .slides li{
    opacity:1;
}
.card-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    
}
.nav-wrapper {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.brand-logo {
    margin-left: 25px;
}
.card-content {
    height: 200px;
    line-height:2;
    font-weight: bold;
}
.page-footer {
    background-color: darkgray;
}
.theOg {
    font-size: .5em;
}
.box-div {
    margin:20px;
    font-weight: bold;
}